{{#each this}}
  <div class='col animate__animated animate__fadeInUp'>
    <article class='card h-100'>
      <a href='{{largeImageURL}}' class='card-img-area'>
        <img src='{{webformatURL}}' class='card-img-top' alt='{{tags}}' loading='lazy' />
      </a>
      <div class='card-body'>
        <ul class='card-list'>
          <li class='card-item'>
            <span class='material-icons-two-tone'>favorite</span>
            <span class='card-text'>{{likes}}</span>
          </li>
          <li class='card-item'>
            <span class='material-icons-two-tone'>remove_red_eye</span>
            <span class='card-text'>{{views}}</span>
          </li>
          <li class='card-item'>
            <span class='material-icons-two-tone'>mode_comment</span>
            <span class='card-text'>{{comments}}</span>
          </li>
          <li class='card-item'>
            <span class='material-icons-two-tone'>file_download</span>
            <span class='card-text'>{{downloads}}</span>
          </li>
        </ul>
      </div>
    </article>
  </div>
{{/each}}